.box{
    height: 80px;
    width:80px;
    background:skyblue;
    position: relative;
    animation-iteration-count:3;
    animation:move 2s infinite alternate;
    animation:bounce 3s 3;
}
@keyframes move{
    from{
        left:0
    }
    to{
        left:300px
    }
}
@keyframes bounce{
   0%{left:0;background:red;}
   50%{left:200px;background: Green;}
   100%{left:0;background:blue} 
}
.box1{
    height: 80px;
    width:80px;
    background:skyblue;
    animation:colorchange;
    animation:move 2s infinite alternate
}
@keyframes colorchange{
    from{
        background:skyblue
    }
    to{
        background:coral
    }
}
/* write a spinner example */
.spinner{
    width:50px;
    height:50px;
    border-radius:50%;
    border-top:5px solid blue;
    animation:spin 1s infinite 
}
@keyframes spin{
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(360deg)
    }
}
/* Mobile view */
.box1{
    width:100%;
}
/* Laptop */
@media(min-width:768px){
    .box1{
        width:88%
    }
}
h1{
    font-size:40px;
}
@media(max-width:760px){
    h1{
        font-size:24px
    }
}
/*
Mobile:576px
Tablet:768px
Laptop:992px
Desktop:1200px
*/
img{
    /* overflow */
    width:500px;
}
/*solution*/
img{
    max-width:100%;
    height:auto;
}
:root{
    --primary-color:#2563eb;
    --secondary-color:#06b6d4;
    --dark:#1f2937;
}
h5{
    background:var(--primary-color)
}
