body{
font-family:Arial;
margin:20px;
}

#products{
display:flex;
flex-wrap:wrap;
gap:15px;
}

.card{
border:1px solid gray;
padding:10px;
width:180px;
}

button{
margin:3px;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th,td{
text-align:center;
}