h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
}
p{
    /*control thickness*/
  font-weight:900;
  /*
  100-thin
  300-light
  400-normal
  700-bold
  900-extra bold*/  
  font-style:italic;
}
p{
    font-style:italic;
    font-weight:bold;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}
/*Short hand font property*/
p{
    font:italic bold 20px Arial;
    text-align:justify;
}
/*text decoration*/
h1{
    text-decoration:overline;
    text-decoration:line-through;

}
a{
    text-decoration: none;
}
p{
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
}
p{
    letter-spacing: 5px;
    line-height: 40px;
}
.container{
    width:300px;
    height:200px;
    padding:10px;
    margin: 100px 40px 30px 40px; 
    border:solid red;
    text-align: justify;
    background-color:burlywood;

}
.circle{
    width:100px;
    height:100px;
    background-color:green;
    border:2px solid black;
    border-radius: 100%;
    /*ronded corners*/
    
}